




<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elfeel | <%=title%></title>
<!--<link rel="stylesheet" href="/styles.css">-->
</head>
<body>
  <h1>Home Page</h1>
  <h2><a href="/logout">logout</a></h2>
  <h2><a href="/signup">signup</a></h2>
   <nav>
     <a href="/">Blogs</a>
     <a href="/about">about</a>
     <a href="/blogs/create">New Blog</a>
     <a href="/my-blogs">My Blogs</a>

   </nav>

   <div class="create-blog content">
    <form action="/blogs" method="POST">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>


</body>
</html>


