<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotPassword Page</title>
</head>
<body>


    <form action="/otp">
        <h2>enter ur otp</h2>
        <label for="otp">otp</label>
        <input type="text" name="otp"  />
        <div class="otp-error"></div>
        <button>Send</button>
      </form>
      
    <script>
        const form = document.querySelector('form');
        //const emailError = document.querySelector('.password.error');
        
      
        otpForm.addEventListener('submit', async (e) => {
  e.preventDefault();

  const otp = otpForm.otp.value;

  try {
    const res = await fetch('/otp', {
      method: 'POST',
      body: JSON.stringify({ otp }),
      headers: { 'Content-Type': 'application/json' },
    });

    const data = await res.json();

    if (res.ok) {
      alert(data.message); // Success message
      location.assign('/about'); // Redirect to dashboard or another page
    } else {
      console.error(data.error);
      const errorDiv = document.querySelector('.otp-error');
      if (errorDiv) {
        errorDiv.textContent = data.error;
      }
    }
  } catch (err) {
    console.error('Error validating OTP:', err);
  }

        });
      </script>
</body>
</html>

