<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotPassword Page</title>
</head>
<body>


    <form action="/resetPassword">
        <h2>enter ur new password</h2>
        <label for="password">password</label>
        <input type="text" name="password"  />
        <div class="password error"></div>
        <button>Send</button>
      </form>
      
    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.password.error');
        
      
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
      
          // reset errors
          emailError.textContent = '';
         
      
          // get values
          const password = form.password.value;
          const token = "<%= token %>";
         console.log("token in js",token)
          try {
            const res = await fetch(`/resetPassword/${token}`, { 
              method: 'PATCH', 
              body: JSON.stringify({ password,token }),
              headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
              emailError.textContent = data.errors.password;
              console.log("error in data.errors")
              //passwordError.textContent = data.errors.password;
            }
            else {
              location.assign('/about');
            }
      
          }
          catch (err) {
            console.log(err);
          }
        });
      </script>
</body>
</html>

